<div
  class="mx-auto w-full max-w-screen-xl p-1 py-3 lg:py-5 md:px-10 px-4 flex items-center justify-center gap-3 flex-col"
>



<!-- Hero Header -->
<section class="flex mt-5 gap-y-10 flex-col">

    <div class="basis-1/2 md:flex  gap-5">
        <div class="basis-1/2">
            <h1 class="text-6xl font-semibold mb-5">
                Discover Exquisite Wood-Graved Creations for Every Occasion 
            </h1>
        </div>
        <div class="basis-1/2 flex gap-y-7 flex-col">
            <p>
                Experience the beauty and craftsmanship of our handcrafted wood-graved products. Browse our catalog and find the perfect piece to add a touch of elegance to your home or office. 
            </p>
            <p>
                <a [routerLink]="['/shop']" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Browse
                    <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </p>
        </div>
    </div>
    <div class="w-full">
        <img class="w-full h-full" src="../../assets/Home/img0.webp" alt="">
    </div>

</section>

<!-- Feature Section -->
<section class="flex mt-5 gap-5 flex-col md:flex-row">

<div class="flex flex-col basis-1/2 gap-5">
    <div class="w-full">
        <h2 class="text-4xl mb-5 font-semibold">Discover the Artistry of Custom Wood-Graved Creations</h2>
        <p>Experience the beauty and uniqueness of our handcrafted wood-graved items. Each piece is meticulously crafted to perfection, combining artistry and functionality.</p>
    </div>
    <div class="flex w-full gap-5 ">
        <div class="md:basis-1/2 w-full flex flex-col mt-5 gap-5">
            <p> 
                <svg xmlns="http://www.w3.org/2000/svg" class="dark:text-gray-300" width="48" height="48" viewBox="0 0 512 512"><path fill="currentColor" d="M234.5 5.7c13.9-5 29.1-5 43.1 0l192 68.6c25.4 9.1 42.4 33.2 42.4 60.3v242.8c0 27-17 51.2-42.5 60.3l-192 68.6c-13.9 5-29.1 5-43.1 0l-192-68.6C17 428.6 0 404.5 0 377.4V134.6c0-27 17-51.2 42.5-60.3zM256 66L82.3 128L256 190l173.7-62zm32 368.6l160-57.1v-188l-160 57.1z"/></svg>
                </p>
            <h3 class="text-3xl font-medium">Craftsmanship</h3>
            <p>Our skilled artisans bring your vision to life, creating personalized wood-graved items that make a statement.</p>
        </div>
        <div class="md:basis-1/2 w-full flex flex-col mt-5 gap-5">
            <p> 
                <svg xmlns="http://www.w3.org/2000/svg" class="dark:text-gray-300" width="48" height="48" viewBox="0 0 512 512"><path fill="currentColor" d="M234.5 5.7c13.9-5 29.1-5 43.1 0l192 68.6c25.4 9.1 42.4 33.2 42.4 60.3v242.8c0 27-17 51.2-42.5 60.3l-192 68.6c-13.9 5-29.1 5-43.1 0l-192-68.6C17 428.6 0 404.5 0 377.4V134.6c0-27 17-51.2 42.5-60.3zM256 66L82.3 128L256 190l173.7-62zm32 368.6l160-57.1v-188l-160 57.1z"/></svg>
                </p>
            <h3 class="text-3xl font-medium">Personalization</h3>
            <p>Make it truly yours with custom engravings, adding a personal touch to your favorite wood items.</p>
        </div>
    </div>

</div>

<div class="basis-1/2">

<img class="w-full h-full" src="../../assets/Home/img1.webp" alt="">

</div>


</section>


<!-- Products list -->

<section class="flex mt-5 gap-5 flex-col items-start justify-start text-start w-full">


<div class="flex flex-col gap-5 w-full">
    <p class="font-light">Handcrafted</p>

    <h3 class="text-4xl font-semibold">Featured Products</h3>


    <div class="flex flex-row content-start justify-between w-full">


            <p class="font-light ">
                Discover our selection of beautifully graved wood products.
            </p>
            <a [routerLink]="['/shop']" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">View All</a>

</div>


</div>

<!-- products list -->
<div>
<app-carousel class="text-gray-200" [OneSlide]="false">

    @for (product of products; track $index) {
        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
            <img src="{{product.image}}" alt="sitting area" class="object-cover object-center w-full" />
            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full px-6 ">
                <a [routerLink]="['product-details',product.id]">
                    <div class="flex h-full justify-end pb-6 flex-col">
                        <p class="font-semibold">{{product.name}}</p>
                        <p class="text-lg font-semibold">${{product.price}}</p>
                    </div>
                </a>
            </div>
        </div>
    }

</app-carousel>
</div>


</section>

<!-- Benefits Section -->
<section class="flex my-8 md:flex-row flex-col gap-10 w-full">

<div class="basis-1/2 flex flex-col gap-10">

    <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="dark:text-gray-300" width="64" height="64" viewBox="0 0 512 512"><path fill="currentColor" d="M234.5 5.7c13.9-5 29.1-5 43.1 0l192 68.6c25.4 9.1 42.4 33.2 42.4 60.3v242.8c0 27-17 51.2-42.5 60.3l-192 68.6c-13.9 5-29.1 5-43.1 0l-192-68.6C17 428.6 0 404.5 0 377.4V134.6c0-27 17-51.2 42.5-60.3zM256 66L82.3 128L256 190l173.7-62zm32 368.6l160-57.1v-188l-160 57.1z"/></svg>
    </div>
    <div>
        <h3 class="text-4xl font-medium">Eco-Friendly and Sustainable Wood Products</h3>
    </div>
    <div>
        <p>Discover the beauty of wood while making an eco-friendly choice. Our products are crafted from sustainable wood, ensuring a long-lasting quality that you can enjoy for years to come.</p>
    </div>
    <div class="flex flex-row">
        <a [routerLink]="['/shop']" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Shop</a>
        <a [routerLink]="['/about']" class="text-gray-900 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2  dark:text-gray-400 ">
            <p class="flex flex-row gap-1 items-center text-center">
                Learn More             
                <svg class="w-3 h-3 text-gray-900 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1"/>
              </svg>
            </p>

        </a>

    </div>

</div>

<!-- Image -->
<div class="basis-1/2">

    <img class="w-full h-full" src="../../assets/Home/img9.webp" alt="">
    
    </div>
</section>


</div>